<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/static/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>SHADOWS CONFIG</title>
</head>
<body>

<div id="app">
    <v-app id="inspire">
        <v-container fluid>
            <v-row>
                <v-col
                        cols="12"
                        sm="6"
                        md="4"
                        lg="3"
                >
                    <v-card max-width="250">
                        <v-card-text>
                            <v-form
                                    ref="form"
                                    @submit.prevent="submit"
                            >

                                <v-text-field
                                        v-model="formData.IP"
                                        label="IP"
                                        disabled
                                ></v-text-field>

                                <v-text-field
                                        v-model="formData.port"
                                        :rules="portRules"
                                        label="Port"
                                        required
                                ></v-text-field>

                                <v-text-field
                                        v-model="formData.password"
                                        :rules="passwordRules"
                                        label="Password"
                                        required
                                ></v-text-field>

                                <v-text-field
                                        v-model="formData.encryption"
                                        label="Encryption"
                                        disabled
                                ></v-text-field>

                                <v-btn
                                        color="primary"
                                        class="mr-6"
                                        type="submit"
                                >
                                    ADD SHADOWSOCKS
                                </v-btn>
                            </v-form>
                        </v-card-text>
                    </v-card>
                </v-col>
                <v-col
                        cols="12"
                        sm="6"
                        md="4"
                        lg="3"
                        v-for="ssItem in ssList"
                >
                    <v-card max-width="250">
                        <v-card-text>
                            <v-form
                                    @submit.prevent="removeSS(ssItem)"
                            >

                                <v-text-field
                                        v-model="ssItem['IP']"
                                        label="IP"
                                        disabled
                                ></v-text-field>

                                <v-text-field
                                        v-model="ssItem['port']"
                                        :rules="portRules"
                                        label="Port"
                                        disabled
                                ></v-text-field>

                                <v-text-field
                                        v-model="ssItem['password']"
                                        :rules="passwordRules"
                                        label="Password"
                                        disabled
                                ></v-text-field>

                                <v-text-field
                                        v-model="ssItem['encryption']"
                                        label="Encryption"
                                        disabled
                                ></v-text-field>

                                <v-badge
                                        bordered
                                        :color="ssItem['status'] === 'active' ? 'green' : 'grey'"
                                        overlap
                                        dot
                                >
                                    <v-btn
                                            color="error"
                                            type="submit"
                                    >
                                        REMOVE SHADOWSOCKS
                                    </v-btn>
                                </v-badge>
                            </v-form>
                        </v-card-text>
                    </v-card>
                </v-col>
            </v-row>
        </v-container>
    </v-app>
</div>


<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
<script>
    new Vue({
        el: '#app',
        vuetify: new Vuetify({
            theme: {
                dark: true,
            },
        }),
        data: () => ({
            formData: {
                IP: '23.105.207.48',
                port: '',
                password: 'laochenniubi',
                encryption: 'aes-256-cfb',
            },
            portRules: [
                v => !!v || 'Port is required',
                v => v && 0 <= v && v <= 65535 || 'Out of range',
            ],
            passwordRules: [
                v => !!v || 'Password is required',
            ],
            ssList: [],
        }),
        methods: {
            submit() {
                if (this.$refs.form.validate()) {
                    axios.post('/addss', this.$data.formData).then(() => {
                        this.refreshSSList()
                    })
                }
            },
            refreshSSList() {
                axios.get('/ssinfo').then((response) => {
                    this.$data.ssList = response['data']
                })
            },
            removeSS(ssItem) {
                axios.post('/removess', ssItem).then(() => {
                    this.refreshSSList()
                })
            },
        },
        beforeMount() {
            this.refreshSSList()
        },
    });
</script>
</body>
</html>